<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to the Amusement Park!</title>
  </head>
  <body>
    <h1>Welcome to the Amusement Park! WOO!</h1>
    <a href="<%=new_user_path%>">Sign up</a>
    <a href="<%=signin_path%>">Sign in</a>
  </body>
</html>
