<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a New Attraction</title>
  </head>
  <body>
    <h1>Create a new attraction</h1>
      <%= render 'form' %>
  </body>
</html>
